flows.json
[
    {
        "id": "3977012a74ee5e42",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4e118c014f799ab",
        "type": "mqtt in",
        "z": "3977012a74ee5e42",
        "name": "",
        "topic": "prueba/xd",
        "qos": "0",
        "datatype": "utf8",
        "broker": "48158789f72695a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "6d24a19935665283",
                "61dea97e5206df49"
            ]
        ]
    },
    {
        "id": "6d24a19935665283",
        "type": "debug",
        "z": "3977012a74ee5e42",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "61dea97e5206df49",
        "type": "ui_text",
        "z": "3977012a74ee5e42",
        "group": "85bb54548a670130",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "48158789f72695a5",
        "type": "mqtt-broker",
        "name": "prueba",
        "broker": "192.168.1.17",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "85bb54548a670130",
        "type": "ui_group",
        "name": "xd",
        "tab": "0b8b1c1183d48cf4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b8b1c1183d48cf4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]